<ul>
  {{#each dta}}
  <li>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
          <div class="card">  
            <div class="user_info">
              <div class="dp no-padding no-margin"><img src={{avatar}}></div>
              <div class="profile_name">{{username}}</div>
            </div>

            <div class="content">
              <div id="story_image"><img src={{image}}></div>
            </div>

            <div class="caption">
              {{caption}}
            </div>

            <div class="art_tag">
              <div class="chip">
                <i class="close material-icons">painting</i>
              </div>
              <div class="chip">
                <i class="close material-icons">photography</i>
              </div>
            </div>

            <div class="ratings">
              <form method="post" action="/users/star">
                <input class="star star-5" id="star-5" type="radio" name="5"/>
                  <label class="star star-5" for="star-5"></label>
                <input class="star star-4" id="star-4" type="radio" name="4"/>
                  <label class="star star-4" for="star-4"></label>
                <input class="star star-3" id="star-3" type="radio" name="3"/>
                  <label class="star star-3" for="star-3"></label>
                <input class="star star-2" id="star-2" type="radio" name="2"/>
                  <label class="star star-2" for="star-2"></label>
                <input class="star star-1" id="star-1" type="radio" name="1"/>
                  <label class="star star-1" for="star-1"></label>
              </form> 
            </div>
          </div>  
      </div>
    </div>  
  </li>
  {{/each}}
</ul>