<div class="index_message col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
    Fllaunt your art to the world
</div>
<div class="categories_container">
    <div class="category_painting col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="category_title">Painting</div>
        <hr style="margin:0px; width:90%">
        <hr style="margin:0px; width:90%">
        <hr style="margin:0px; width:90%">
        <hr style="margin-left:0px; margin-top:0px; margin-right:0px;
        margin-bottom:10px; width:90%">
        <div class="img_container">
            <div class="overlay"></div>
            <img src="/../uploads/pic5.jpg" alt="" />
        </div>
    </div>
    <div class="category_photography col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="category_title">Photography</div>
        <hr style="margin:0px; width:90%">
        <hr style="margin:0px; width:90%">
        <hr style="margin:0px; width:90%">
        <hr style="margin-left:0px; margin-top:0px; margin-right:0px;
        margin-bottom:10px; width:90%">
        <div class="img_container">
            <div class="overlay"></div>
            <img src="/../uploads/pic2.jpg" alt="" />
        </div>
    </div>
    <div class="category_music col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="category_title">Music</div>
        <hr style="margin:0px; width:90%">
        <hr style="margin:0px; width:90%">
        <hr style="margin:0px; width:90%">
        <hr style="margin-left:0px; margin-top:0px; margin-right:0px;
        margin-bottom:10px; width:90%">
        <div class="img_container">
            <div class="overlay"></div>
            <img src="/../uploads/pic3.jpg" alt="" />
        </div>
    </div>
    <div class="category_cooking col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="category_title">Cooking</div>
        <hr style="margin:0px; width:90%">
        <hr style="margin:0px; width:90%">
        <hr style="margin:0px; width:90%">
        <hr style="margin-left:0px; margin-top:0px; margin-right:0px;
        margin-bottom:10px; width:90%">
        <div class="img_container">
            <div class="overlay"></div>
            <img src="/../uploads/pic4.jpg" alt="" />
        </div>
    </div>
</div>
