{{#each this.dta}}

<div class="image-gallery">
    <div class="image_container">
       <img src={{image}} alt="" />
       <div class="mask">
          <p>{{caption}}</p>
        </div>
    </div>
</div>
{{/each}}
